Generator Status: {{:data.status}}
Power Setting:    {{:data.power}}
Wormhole ECFC D/f {{:data.wormhole}}

{{:helper.link("Toggle Power", "plug", { 'toggle' : '1' })}}
{{:helper.link("Set PCR", "vial", { 'set_power' : '1' })}}